.testimonials {
  background-color: $white;
  &__card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    padding: 0 0 10rem 0;
    transition: filter 0.4s ease;
  }

  &__header {
    padding: 10rem 0 5rem 0;
    text-align: center;
  }

  &__title {
    font-size: 2rem;
    color: $grayish-blue;
    font-family: "Fraunces", serif;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
  }

  &__avatar {
    border-radius: 50%;
    height: 6rem;
  }

  &__p {
    font-size: 1.6rem;
    color: $very-dark-grayish-blue;
    width: 40ch;
    text-align: center;
    padding: 3rem 0;
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__client-name {
    font-size: 1.8rem;
    font-family: "Fraunces", serif;
    font-weight: 900;
    padding: 1rem 0;
    color: $very-dark-grayish-blue;
  }
  &__client-job-title {
    font-size: 1.6rem;
    color: $very-dark-grayish-blue;
  }
}
